header {
  appearance: none;

  .logo {
	width: 90px;

	@screen md {
	  width: 120px;
	}
  }

  .has-nav {
	.subnav {
	  display: none;

	}

	&:hover {
	  .subnav {
		display: flex;
	  }
	}
  }
}

.cover {
  @media only screen and (min-device-width: 1024px) {
	height: 100vh !important;
  }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	height: 50vh !important;
  }

}

ul.feature-list {
  li {
	@apply font-medium tracking-wide;
	margin: 0;
	padding: 6px 0 6px 36px;
	list-style: none;
	background-image: url('~@/assets/images/icons/tick.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
	@screen lg {
	  @apply text-lg;
	  background-size: 30px;
	  padding: 8px 0 8px 42px;
	}
  }
}

section {
  @apply py-16;

  @screen md {
	@apply py-20;
  }

  @screen xl {
	@apply py-32;
  }
}

.testimonial-slider {
  .slick-slide {
	height: 580px;

	> div {
	  height: 100%;
	}

	@media (max-width: 1024px) and (orientation: landscape) {
	  height: 520px;
	}
	@media (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
	  height: 520px;
	}
	@media(max-width: 926px) {
	  height: auto;
	}
  }

  .slick-slider-arrows {
	li {
	  // position: absolute;
	  // top: 50%;
	  cursor: pointer;
	  opacity: .6;
	  transition: 0.3s linear;

	  &.left-arrow {
		left: 0;
		transform: translate3d(-120%, -50%, 0);
	  }

	  &.right-arrow {
		right: 0;
		transform: translate3d(120%, -50%, 0);
	  }

	  &:hover {
		opacity: 1;
	  }
	}

	// @media(max-width:1024px) {
	text-align: center;
	margin-top: 24px;

	li {
	  padding: 8px;
	  position: relative;
	  display: inline-block;
	  transform: none !important;
	}

	// }
  }
}

.slick-slider {
  .slick-list {
	.slick-slide {
	  div:focus {
		outline: 0;
	  }
	}
  }
}

.logos-wrapper {
  overflow: auto;

  .logo-wrapper {
	width: 25%;
	float: left;
	padding: 16px;

	.logo {
	  height: 120px;
	  white-space: nowrap;
	  text-align: center;

	  img {
		max-height: 60px;
		max-width: 160px;
		display: inline-block;
		vertical-align: middle;
	  }

	  &:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	  }
	}
  }

  @media(max-width: 1024px) {
	.logo-wrapper {
	  .logo {
		height: 80px;

		img {
		  max-height: 40px;
		}
	  }
	}
  }

  @media(max-width: 767px) {
	.logo-wrapper {
	  width: 50%;

	  .logo {
		height: 40px;

		img {
		  max-width: 80%;
		  max-height: 80%;
		}
	  }
	}
  }
}

@media (min-width: 1366px) {
  .container {
	max-width: 1280px;
  }
}

@media (max-width: 812px) {
  .container {
	max-width: 812px;
  }
}

.blog-image {
  height: 500px;
  @media(max-width: 767px) {
	height: 300px;
  }
}

#image-section, .image-section {
  @media (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
	height: 50vh !important;
  }
  @media(max-width: 767px) {
	height: 400px;
	&.driver-app {
	  height: auto;
	}
  }
}

#spline-passenger-app {
  @media (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
	height: 50vh !important;
  }
  @media (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {
	height: 75vh !important;
  }
  @media (max-width: 767px) {
	.iframe-wrapper {
	  height: 400px;
	}
  }
}
