    <nav>
        <div class="nav-bar nav--absolute nav--transparent">
            <div class="nav-module logo-module left">
                <a ui-sref="base.home">
                    <img class="logo logo-dark" alt="logo" src="/includes/images/logo.png" />
                </a>
            </div>
            <div class="nav-module menu-module">
                <ul class="menu">
                    <li ui-sref-active="active">
                        <a ui-sref="base.dispatch">
                            Dispatch System
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="base.driver">
                            Driver App
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="base.passenger">
                            Passenger App
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="base.integrations">
                            Integrations
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="base.blog">
                            Blog
                        </a>
                    </li>
                     <li>
                        <a href="https://support.cab9.app/">
                            Support
                        </a>
                    </li>
                    <li>
                        <a href="https://e9.co.uk/" target="_blank">
                            <strong class="brand-primary">e9</strong> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-module right hidden-xs">
                <a href="https://cab9.co" target="_blank" class="btn btn-primary btn-filled">Login</a>
            </div>
        </div>
        <div class="nav-mobile-toggle visible-md visible-sm visible-xs">
            <i class="ti-menu"></i>
        </div>
    </nav>
